.App {
  padding: 50px;
  text-align: center;
  background-color: whitesmoke;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.statOne {
  display: flex;
  flex: 0.5;
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.soneLeft {
  flex-direction: column;
}
.soneRight {
  flex-direction: column;
}
.tableStyle {
  width: 100%;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #e9edff;
  font-size: "10px";
  width: "40px";
  border-radius: "5px";
}
